---
///@ts-nocheck
import BaseLayout from "../../layouts/BaseLayout.astro";
import GachaUi from "../../assets/gacha_ui.png";

export function getStaticPaths() {
    return [1, 2, 3, 4].map((n) => ({
        params: { step: String(n) },
    }));
}

const { step } = Astro.params;
const nextStep = Number(step) < 4 ? Number(step) + 1 : null;

const results = {
    "1": { action: "スクワット", count: "20回", effect: "攻撃＋10" },
    "2": { action: "腕立て", count: "20回", effect: "攻撃＋10" },
    "3": { action: "腹筋", count: "10回", effect: "攻撃＋10" },
    "4": { action: "ランニング", count: "15分", effect: "攻撃＋10" },
};
const data = results[step];
---

<style lang="scss">
    @use "../../styles/_mixin.scss" as mixin;

    .gacha {
        img {
            @include mixin.gacha;
            margin-top: 120px;
        }
    }

    .gacha_btn {
        display: flex;
        justify-content: center;

        a {
            color: #fff;
            font-size: 1.2rem;
            font-weight: lighter;
            text-align: center;
            padding: 15px 50px;
            background: #ba2b1d;
            border-radius: 20px;
        }
    }
</style>

<BaseLayout title={`ガチャ ${step}`}>
    <div class="gacha">
        <img src={GachaUi.src} alt={`ガチャ ${step}`} />
    </div>
    <div class="gacha_btn">
        {
            nextStep ? (
                <a href={`/gacha/${nextStep}`}>ガチャを回す</a>
            ) : (
                <span>これで最後のガチャ！</span>
            )
        }
    </div>

    <div class="result_page">
        <div class="card">
            <img src={GachaUi.src} alt="ガチャ" />
            <div class="info">
                <p>{data.action}</p>
                <p>{data.count}</p>
                <p>{data.effect}</p>
            </div>
        </div>

        <div class="deadline">
            <p>有効期限:今週日曜日まで</p>
        </div>
    </div>
</BaseLayout>
